.main_container {
  display: grid;
  gap: 10px;
  padding: 0 3px 3px 3px;
  /* border: 3px gray solid; */
}
.container {
  display: grid;
  /* border: 3px greenyellow solid; */
  /* gap: 30px; */
  font-size: 16px;
  font-weight: 700;
}
.date {
  padding-top: 10px;
  background-color: #fecda6;
  border: 3px black solid;
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  align-items: center;
  /* margin: 10px 0; */
}
.date > :nth-child(1) > span {
  color: black;
  font-family: roboto;
  font-weight: 900;
  font-style: italic;
  font-size: 25px;
  letter-spacing: 2px;
}
.date > :nth-child(2) {
  display: flex;
  color: rebeccapurple;
  margin: 10px;
  /* margin-top: 20px; */
  gap: 8rem;
  /* justify-content: space-around; */
  /* align-items: last baseline; */
}
.date > input {
  border-radius: 30px;
  border: none;
  border-right: greenyellow 5px solid;
  margin: 20px 10px 20px 10px;
}
.date > h1 {
  border: 4px solid brown;
}
.box {
  padding: 7px;
  border: 3px gray solid;
  background-color: #ece3ce;
}
.form {
  /* border: 3px gold solid; */
}
.section_1 {
  /* border: 3px red solid; */
}
.section_2 {
  /* border: 3px blue solid; */
}
span {
  color: red;
  font-size: 17px;
}
a {
  color: purple;
  font-weight: 700;
  font-size: 19px;
}
select {
  margin-left: 10px;
  padding: 5px;
  font-weight: 800;
  font-size: 15px;
}

input {
  width: auto;
}

.totalSpecialStyling {
  color: gold;
  background-color: rgb(0, 0, 0);
  /* border: 3px solid ; */
  border-radius: 8px;
  padding: 6px;
  margin: 4px;
  /* width: 30px; */
}
